body{
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}
/* menu start */
.menu{
    margin: 0 auto;
    padding-left: 150px;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin-right: 13px;
}
nav{
    display: flex;
    justify-content: space-between;
}
/* menu end */

/* login-box start */
.login-container{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.login{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    box-shadow: 10px 10px 30px;
    padding: 40px;
}
.login input{
    margin-bottom: 15px;
    font-size: 19px;
    padding: 15px 12px;
}
.login input[type="submit"]{
    background-color: #052077;
    color: rgb(243, 243, 243);
    border: none;
    border-radius: 4px;
    transition: 0.3s all ease-in;
    cursor: pointer;
}
.login input[type="submit"]:hover{
    background-color: transparent;
    color: rgb(0, 0, 0) ;
}
#padding{
    margin: 0 auto;
    padding: 17px;
    font-size: 20px;
    font-weight: 400;
}
h3{
    color: aliceblue;
    font-size: 30px;
}
/* login-box end */